<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl">
</header>

<section id="main">

  <div growl></div>
  <div class="card m-l-20 m-r-20">

    <div class="row p-t-20">
      <div class="col-xs-offset-3 col-xs-1 p-r-0" align="right">
        <i class="zmdi zmdi-search zmdi-hc-2x " style="padding-top: 8px;"></i>
      </div>
      <div class="col-xs-2 p-l-0">
        <div class="fg-line m-l-10">
          <input type="text" class="form-control" style="display: inline-block" placeholder="Buscar por nombre..." ng-model="searhByName">
        </div>
      </div>

      <div class="col-xs-2 p-l-0">
        <div class="fg-line m-l-10">
          <input type="text" class="form-control" style="display: inline-block" placeholder="Buscar por clave de seguro..." ng-model="searchByKey">
        </div>
      </div>
    </div>

    <div class="row m-t-10 m-l-10 m-r-10">
      <!--Cola de pacientes-->
      <div class="col-xs-9">

        <table class="table table-hover">

          <thead>
          <tr>
            <th>Nombre del paciente</th>
            <th>Clave de seguro</th>
            <th>Sintomas</th>
            <th>Tiempo</th>
          </tr>
          </thead>

          <tbody>

          <tr ng-click="vm.openPatientDetails(patient.$key)" class="cursor-pointer" ng-repeat="patient in vm.patientQueue | toArray | filter: {nombre: searhByName, claveSeguro: searchByKey}" ng-init="$last ? vm.getCountdownThePatients() : angular.noop()">

            <td>{{ patient.nombre }}</td>
            <td>{{ patient.claveSeguro }}</td>
            <td>

              <span ng-repeat="sintoma in patient.sintomas | toArray | limitTo : 2">
                {{ sintoma.nombre }}<span ng-if="!$last">,</span>
              </span>

            </td>
            <td>
              <div class="timer" align="center" style="{{ vm.getEmergencyColor(patient.nivelEmergencia) }}">
                <timer end-time="patient.tiempoEnCola">{{ hours }}:{{ minutes }}:{{ seconds }}</timer>
              </div>
            </td>

          </tr>
          </tbody>
        </table>

      </div>

      <!--Registrar nuevo paciente o crear uno nuevo-->
      <div class="col-xs-3">
        <div align="center">
          <h3 style="color: #6b6b6b;">Nuevo paciente</h3>
        </div>

        <div class="card m-b-10" style="background-color: #3498db; height: 150px">
          <div class="row">
            <div class="col-xs-12" style="margin-top: 20px; padding-left: 35px; padding-right: 35px">
              <span style="color: white; font-size: 13px">Clave de seguro</span>
              <!--<div class="fg-line ">-->
              <input type="text"
                     class="form-control p-l-5 m-t-5"
                     placeholder="Ejemplo: 13020203"
                     ng-model="vm.patientKey"
                     required>
              <!--</div>-->
            </div>
          </div>

          <div class="row">
            <div class="col-xs-offset-2 col-xs-8 m-t-15">
              <button class="btn btn-danger" style="width: 100%; border-radius: 5px 5px 5px 5px; background-color: #e74c3c !important;" ng-click="vm.openRegisterSymptom()">Registrar</button>
            </div>
          </div>
        </div>

        <div class="c-p-crear-paciente" style="text-align: center; color: #4498db;" ng-click="vm.openRegisterPatient()">

          <span class="c-p-label-crear">Crear nuevo paciente</span>

        </div>

        <div ng-if="true">
          <input type="text" class="form-control" ng-model="vm.nuevoSintoma.nombre" placeholder="Nombre del sintoma">
          <select name=""  ng-model="vm.nuevoSintoma.nivel" class="form-control">
            <option selected="selected" value="">Nivel de sintoma</option>
            <option value="az">Azul</option>
            <option value="v">Verde</option>
            <option value="a">Amarillo</option>
            <option value="n">Naranja</option>
            <option value="r">Rojo</option>
          </select>
          <select name="" id="" ng-model="vm.nuevoSintoma.triage" class="form-control">
            <option selected="selected" value="">Tipo de triage</option>
            <option value="obstetrico">Obstetrico</option>
            <option value="Adulto">Adulto</option>
            <option value="Pediatrico">Pediatrico</option>
          </select>

          <button class="btn btn-primary" ng-click="vm.registrarSintoma(vm.nuevoSintoma)">Agregar sintoma</button>

        </div>

      </div>

    </div>

  </div>

</section>
